<% if @processing != nil %>
  <h5>装置スケジュール　　装置名: <%= @processing.equipment.name %></h5>
  <div class="overflow-auto" style="width:450px;height:160px;">
    <table class="table table-sm">
      <tr class="table-info">
        <th class="fixed01" style="width:130px;">担当</th>
        <th class="fixed01" style="width:140px;">開始予定</th>
        <th class="fixed01" style="width:140px;">終了予定</th>
      </tr>
    <% @flows.each do |flow| %>
      <tr>
        <td><%= flow.processing.working_users.find(flow.user_id).name %></td>
        <% if flow.scheduled_starting_time == nil then %>
          <td><%= "" %></td>
        <% else %>
          <td><%= flow.scheduled_starting_time.strftime("%Y-%m-%d %H:%M") %></td>
        <% end %>
        <% if flow.scheduled_ending_time == nil then %>
          <td><%= "" %></td>
        <% else %>
          <td><%= flow.scheduled_ending_time.strftime("%Y-%m-%d %H:%M") %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>