<%= form_with(model: @processing, local: true ,url: processing_choose_new_or_edit ) do |f| %>
  <% if @processing.errors.any? %>
    <div id="error_explanation">
      <h2><%= @processing.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @processing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row mt-4">
      <div class="col-2 offset-4">
        <%= f.label :name %>
      </div>
      <div class="col-2">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2 offset-4">
        <%= f.label :equipment_id %>
      </div>
      <div class="col-2">
        <%= f.collection_select :equipment_id, Equipment.all, :id, :name, :prompt => "装置を選択" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2 offset-4">
        <%= f.label :time_required %>
      </div>
      <div class="col-3">
        <%= f.time_select :time_required %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2 offset-4">
        <%= f.label :comment %>
      </div>
      <div class="col-2">
        <%= f.text_field :comment %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>