<h5>以下の内容で、登録する。</h5>
<%= form_with(model: @processing, local: true, url: processings_path ) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :equipment_id %>
  <%= f.hidden_field :time_required %>
  <%= f.hidden_field :comment %>
  <p>工程名:<%= @processing.name %></p>
  <p>装置名:<%= @processing.equipment.name %></p>
  <p>所要時間:<%= @processing.time_required.strftime('%H:%M') %></p>
  <p>コメント:<%= @processing.comment %></p>
  <%= f.submit  "登録する" %>
  <%= f.submit "戻る", name: 'back' %>
<% end %>