<h3>以下の内容で、登録する。</h3>
<%= form_with(model: @equipment, local: true, url: equipments_path ) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :comment %>
  <p>装置名:<%= @equipment.name %></p>
  <p>コメント:<%= @equipment.comment %></p>
  <%= f.submit  "登録する" %>
  <%= f.submit "戻る", name: 'back' %>
<% end %>