<div class="container">
  <div class="row">
    <h5 class="text-center border border-primary">装置一覧</h5>
  </div>
  <div class="row my-1">
    <div class="btn-group" role="group">
      <%= link_to "追加登録", new_equipment_path, class: "row justify-content-center btn btn-primary" %>
    </div>
  </div>
</div>
    <table class="table table-striped">
      <tr class="table-info">
        <th class="col-2">装置名</th>
        <th class="col-7">コメント</th>
        <th class="col-1"></th>
        <th class="col-1"></th>
        <th class="col-1"></th>
      </tr>
    <% @equipments.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.comment %></td>
        <td><%= link_to "詳細", equipment_path(equipment.id), class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to "編集", edit_equipment_path(equipment.id), class: "btn btn-outline-success btn-sm" %></td>
        <td><%= link_to '削除', equipment_path(equipment.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
    </table>
