<%= form_with(model: @flow, url: {action: 'create'}, method: :post ) do |f| %>
  <% if @flow.present?%>
    <% if @flow.errors.any? %>
      <div id="error_explanation">
        <h2><%= @flow.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @flow.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

<h1>試作品スケジュール作成</h1>
<%= link_to "試作品一覧", prototypes_path %>
<%= link_to '工程フロー', prototype_flows_path %>
<table>
  <tr>
    <th>試作品No.</th>
    <th>工程No.</th>
    <th>工程名</th>
    <th>作業者</th>
    <th>開始予定</th>
    <th>終了予定</th>
    <th>終了実績</th>
  </tr>


  <%= f.fields_for :workings do |w| %> 

    <tr>
      <td><div class="flow_prototype"><%= w.text_field :prototype_id %></div></td>
      <td><div class="flow_number"><%= w.text_field :number %></div></td>
      <td><div class="processing_name"><%= w.collection_select :processing_id, Processing.all, :id, :name, :prompt => "工程を選択" %></div></td>
      <td><div class="worker"><%= render partial: 'worker', locals: {processing_id: Processing.first.id} %></div></td>
      <td><div class="scheduled_starting_time"><%= w.datetime_field :scheduled_starting_time, class: 'form-control' %></div></td>
      <td><div class="scheduled_ending_time"><%= w.datetime_field :scheduled_ending_time, class: 'form-control' %></div></td>
      <td><div class="ending_time"><%= w.datetime_field :ending_time, class: 'form-control' %></div></td>
    </tr>

  <%= f.submit %>
  <% end %>
<% end %>