<%= form_with(model: @prototype, local: true ,url: prototype_choose_new_or_edit ) do |f| %>
  <% if @prototype.errors.any? %>
    <div id="error_explanation">
      <h2><%= @prototype.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @prototype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row mt-4">
      <div class="col-2 offset-4">
        <%= f.label :order_number %>
      </div>
      <div class="col-2">
        <%= f.text_field :order_number %>
      </div>
      <div class="col-2">
        *整数8文字
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2 offset-4">
        <%= f.label :customer %>
      </div>
      <div class="col-2">
        <%= f.text_field :customer %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2 offset-4">
        <%= f.label :name %>
      </div>
      <div class="col-2">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2 offset-4">
        <%= f.label :delivery_date %>
      </div>
      <div class="col-2">
        <%= f.text_field :delivery_date %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>