<%= form_with(model: @prototype, local: true ,url: choose_new_or_edit ) do |f| %>
  <% if @prototype.errors.any? %>
    <div id="error_explanation">
      <h2><%= @prototype.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @prototype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="order_number">
      <%= f.label :order_number %>
      <%= f.text_field :order_number %>
    </div>
    <div class="customer">
      <%= f.label :customer %>
      <%= f.text_field :customer %>
    </div>
    <div class="prototype_name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="delivery_date">
      <%= f.label :delivery_date %>
      <%= f.text_field :delivery_date %>
    </div>
    <%= f.submit %>
<% end %>