<h1>試作品一覧</h1>
<table>
  <tr>
    <th>注文番号</th>
    <th>得意先</th>
    <th>品名</th>
    <th>納期</th>
    <th>工程終了予定</th>
    <th>猶予日数</th>
  </tr>
<% @prototypes.each do |prototype| %>
  <tr>
    <td><%= prototype.order_number %></td>
    <td><%= prototype.customer %></td>
    <td><%= prototype.name %></td>
    <td><%= prototype.delivery_date %></td>
    <td><%= "" %></td>
    <td><%= "" %></td>
    <td><%= link_to '進捗確認', prototype_path(prototype.id) %></td>
    <td><%= link_to "情報編集", edit_prototype_path(prototype.id) %></td>
    <td><%= link_to '削除', prototype_path(prototype.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '試作品登録へ', new_prototype_path %>