<div class="container">
  <div class="row">
    <h5 class="text-center border border-primary">担当工程</h5>
  </div>
  <div class="row my-1">
    <div class="btn-group" role="group">
      <%= link_to '追加登録', edit_user_path(current_user), class: "row justify-content-center btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <table class="table table-sm">
      <% @user.working_processings.each_with_index do |working, i| %>
        <tr>
          <td class="col-3"></td>
          <td class="col-3">担当工程<%= "#{i+1}" %>： <%= working.name %></td>
          <td class="col-3"><%= link_to '削除',working_path(id: @user.workings.find_by(processing_id: working.id).id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


<h5 class="text-center border border-primary mt-4">個人スケジュール</h5>
<table class="table table-striped">
  <tr class="table-info">
    <th class="col">注文番号</th>
    <th class="col">工程No.</th>
    <th class="col">工程名</th>
    <th class="col">所要時間</th>
    <th class="col">作業者</th>
    <th class="col">開始予定</th>
    <th class="col">終了予定</th>
    <th class="col">終了実績</th> 
  </tr>
  <% @flows.each do |flow| %>
    <tr>
      <td><%= link_to flow.prototype.order_number, new_prototype_flow_path(flow.prototype_id, flow.prototype_id) %></td> 
      <td><%= flow.number %></td>
      <td><%= flow.processing.name %></td>
      <td><%= flow.processing.time_required.strftime('%H:%M') %></td>
      <%
=begin%>
 <td><%= flow.processing.working_users.find(flow.user_id).name %></td> 
<%
=end%>
      <td><%= User.find(flow.user_id).name %></td>
      <% if flow.scheduled_starting_time == nil then %>
        <td><%= "" %></td>
      <% else %>
        <td><%= flow.scheduled_starting_time.strftime("%Y-%m-%d %H:%M") %></td>
      <% end %>
      <% if flow.scheduled_ending_time == nil then %>
        <td><%= "" %></td>
      <% else %>
        <td><%= flow.scheduled_ending_time.strftime("%Y-%m-%d %H:%M") %></td>
      <% end %>
      <% if flow.ending_time == nil then %>
        <td><%= "" %></td>
      <% else %>
        <td><%= flow.ending_time.strftime("%Y-%m-%d %H:%M") %></td>
      <% end %>
    </tr>
  <% end %>
</table>