<!DOCTYPE html>
<html>
  <head>
    <title>PrototypeScheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
            <ul class="nav">
              <li class="nav-item"><%= link_to "試作品一覧", prototypes_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "工程一覧", processings_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "装置一覧", equipments_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "マイページ", user_path(current_user), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
              <li class="nav-link">USER NAME： <%= current_user.name %></li>
            </ul>
          </nav>
      <% else %>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
          <ul class="nav">
            <li class="nav-item"><%= link_to "アカウント登録", new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
          </ul>
        </nav>
      <% end %>
    </div>
    
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
